body{
    background-color: darkcyan;
}
h1{
    background-color: darkred;
}
p {
    background-color: deeppink;
}
div{
    border:2px soild black;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
    background-color: blueviolet;
}
.p1{
    font-family: 'Courier New', Courier, monospace;
}
p.dotted{border-style: dotted;}

#firstname{background-color: cornflowerblue;}


